<template>
    <div>
        <h1>{{title}}</h1>
        <ErrorWidget></ErrorWidget>

        <router-view></router-view>
    </div>
</template>

<script>

    export default {
        data: function () {
            return {
                title: "Title"
            }
        },
        created: function () {
            let vm = this;
            this.$root.$on('update:title', function (title) {
                vm.title = title;
            })
        },
        mounted() {
            this.$root.$emit('update:title', 'App');
        },

    }
</script>

<style>

</style>
