<template>
    <ul id="menu" class="vue-menu list-group">
        <li v-for="item in items" class="list-group-item">
            <router-link v-bind:to="item.path" class="btn btn-success">{{ item.title }}</router-link>
        </li>
    </ul>
</template>

<script>
    export default {
        name: "menu",
        data() {
            return {
                items: [
                    {
                        path: '/vue',
                        title: 'Vue test'
                    },
                ]
            }
        },
    }
</script>

<style scoped>
    .vue-menu li > * {
        width: 100%;
    }
</style>
